[submodule "StofDoctrineExtensionsBundle"]
	path = src/Stof/DoctrineExtensionsBundle
	url = git://github.com/stof/DoctrineExtensionsBundle.git
[submodule "I18nRoutingBundle"]
	path = src/Bundle/I18nRoutingBundle
	url = git://github.com/francisbesset/I18nRoutingBundle.git
[submodule "FOSUserBundle"]
	path = src/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/UserBundle.git
