[submodule "DoctrineExtensionsBundle"]
	path = src/Bundle/DoctrineExtensionsBundle
	url = git://github.com/stof/DoctrineExtensionsBundle
[submodule "I18nRoutingBundle"]
	path = src/Bundle/I18nRoutingBundle
	url = git://github.com/francisbesset/I18nRoutingBundle
[submodule "UserBundle"]
	path = src/Bundle/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/UserBundle.git
[submodule "src/Bundle/FOS/UserBundle"]
	path = src/Bundle/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/UserBundle
