#container {
    padding-left: 20%;
    padding-right: 21%;
}

#container .column {
    position: relative;
    float: left;
}

#content {
    padding: 0.5% 1%;
    width: 100%;
}

#categories {
    width: 33%;
    right: 35%;
    margin-left: -100%;
}

#right_bar {
    width: 33%;
    margin-right: -35%;
}

#header, #footer {
    padding-left: 0.5%;
    padding-right: 0.5%;
    clear: both;
}
