{% extends 'YrchBundle::layout3Columns.twig' %}

{% block content %}
    {% include "YrchBundle:Site:list.twig" with ['sites': sites] %}
{% endblock %}

{% block categories %}
    {% include "YrchBundle:Category:menu.twig" with ['categories': category.children] %}
{% endblock %}

{% block header %}
    {% parent %}
    <div>
        <div class="header">
            <h1>{{ category.name }}</h1>
        </div>
        <div id="path">
            <p>
                {% for cat in path joined by " &gt; " %}
                    <a href="{% if cat.id == id_root %}{% path "homepage" %}{% else %}{% path _view.locale.route("category_show") with ['id': cat.id ] %}{% endif %}">{{ cat.name }}</a>
                {% endfor %}
            </p>
{% if category.description %}<p>{{ category.description }}</p>{% endif %}
        </div>
    </div>
{% endblock %}