<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="bootstrap.php"
>
  <testsuites>
      <testsuite name="Yrch! Test Suite">
          <directory>../src/Yrch/*/Tests</directory>
      </testsuite>
  </testsuites>

  <filter>
      <whitelist>
          <directory>../src/Yrch</directory>
          <exclude>
              <directory>../src/Yrch/*/Resources</directory>
              <directory>../src/Yrch/*/Tests</directory>
          </exclude>
      </whitelist>
  </filter>
</phpunit>
